* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;;
}

body {
    margin: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}



.button-ctn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 0 1 170px;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    gap: 20px;
}

.buttons-ctn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.button-ctn:hover, button:hover  {
    background-color: rgb(226, 252, 252);
}

#results-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button {
    background-color: white;
    padding: 10px 20px;
    min-width: 170px;
    border: 2px solid #000;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
}


table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.1em;
    min-width: 400px;
}

table thead tr {
    background-color: #1E555C;
    color: #fff;
    text-align: center;
}

table th {
    padding: 12px 15px;
    border: 2px solid #ddd;
    min-width: 175px;
}

table tbody tr {
    border-bottom: 2px solid #ddd;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}



